.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.link {
  text-decoration: none;
}

.button:hover {
  border: 1px var(--accent) solid;
  background-color: var(--accent);
  color: white;
}

.button {
  border: 1px var(--accent) solid;
  transition: 0.2s ease all;
  padding: 10px 25px;
  outline: none;
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
}

.dspLogo {
  max-width: 89px;
}
