.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  transition: 0.2s ease all;
}

.link {
  text-decoration: none;
}

.button {
  border: 1px var(--accent) solid;
  transition: 0.2s ease all;
  padding: 10px 15px;
  outline: none;
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
}

.dspLogo {
  max-width: 108px;
}

.card:hover {
  background-color: rgba(238, 238, 238, 0.548);
}
.card:hover .button {
  border: 1px var(--accent) solid;
  background-color: var(--accent);
  color: white;
}
